* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    text-decoration: none;
    overscroll-behavior: none;
}

header {
    text-align: center;
    background-color: rgb(12, 12, 1);
    color: white;
    width: 100%;
}

nav {
    text-align: center;
    font-size: larger;
    background-color: rgb(12, 12, 1);
    padding-bottom: 5px;

}

.link {
    margin: 1px;
    border-bottom: 3px solid white;
    color: white;
}

.link:hover {
    background-color: white;
    border-radius: 8%;
    color: black;
}

body {
    background-color: rgb(32, 32, 32);
    color: white;
}

main {
    display: flex;
    width: 66%;
    margin-top: 1px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: block;
    justify-content: center;
    background-color: rgb(63, 63, 63);
    padding-bottom: 10px;
}

article {
    border-bottom: 1px #fff solid;
    padding-left: 4px;
    padding-bottom: 5px;
}

aside {
    display: flex;
    flex-wrap: wrap;
    padding-right: 25px;
    margin-left: 10px;
    flex-direction: column;
    color: #f3efe0;
    background-color: #3c3c3c
}

aside img {
    object-fit: fill;
}

footer {

    width: 100%;
    text-align: center;
    align-items: center;
    background-color: rgb(12, 12, 1);
}

@media only screen and (max-width:600px) {
    aside {
        visibility: hidden
    }

    main {
        width: 100%;
        padding-left: 13%
    }

    img {
        visibility: hidden
    }

    article {
        width: 98%
    }
}


footer p {
    color: grey;
}

footer i {
    font-size: 49px;
}