* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    overscroll-behavior: none
}

header {
    text-align: center;
    background-color: black;
    color: #fff;
    width: 100%
}

nav {
    text-align: center;
    font-size: larger;
    background-color: black;
    padding-bottom: 5px
}

.link {
    margin: 1px;
    border-bottom: 3px solid #fff;
    color: #fff
}

.link:hover {
    background-color: #fff;
    border-radius: 8%;
    color: #000
}

body {
    background-color: #202020;
    color: #fff
}

main {
    display: flex;
    width: 66%;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto
}

nav {
    text-align: center;
    font-size: larger;
    background-color: black;
    padding-bottom: 5px;

}

.link {
    margin: 1px;
    border-bottom: 3px solid white;
    color: white;
}

.link:hover {
    background-color: white;
    border-radius: 8%;
    color: black;
}

body {
    background-color: rgb(32, 32, 32);
    color: white;
}

main {
    display: flex;
    width: 66%;
    margin-top: 1px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: flex;
    width: 40%;
    justify-content: center;
    background-color: rgb(63, 63, 63);
    flex-direction: column;
    padding-bottom: 10px;
}

article {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;

}

footer {
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: black;
}

footer p {
    color: grey;
}

footer i {
    font-size: 49px;
}