* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-size: x-large;
    text-decoration: none;
    overscroll-behavior: none;
}
header {
    text-align: center;
    background-color: rgb(12, 12, 1);
    color: white;
    width: 100%;
}
h1 {
    font-size: 36px;
}
h2 {
    padding-bottom: 5px;
}

nav {
    text-align: center;
    font-size: larger;
    background-color: rgb(12, 12, 1);
    padding-bottom: 5px;

}

.link {
    margin: 1px;
    border-bottom: 3px solid white;
    color: white;
}

.link:hover {
    background-color: white;
    border-radius: 8%;
    color: black;
}

body {
    background-color: rgb(32, 32, 32);
    color: white;
}

main {
    display: flex;
    width: 66%;
    margin-top: 1px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: flex;
    justify-content: center;
    background-color: rgb(63, 63, 63);
    flex-direction: column;
    padding-bottom: 10px;
}


footer {

    width: 100%;
    text-align: center;
    align-items: center;
    background-color: rgb(12, 12, 1);
}

footer p {
    color: grey;
}

footer i {
    font-size: 49px;
}